/*Universal Styles*/

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  background-color: #E8E8E8
}

.flex {
  display: flex;
}

.mobile {
  display: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
}

h1, h2 {
  color: #0A4A69;
}

p, a, span {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.back-gray {
  background-color: #12924A;
}
/*Header*/
header {
  background-color: #E8E8E8
}
.header .desktop {
  height: 4rem;
}

header img {
  height: 2.5rem;
}

.desktop.flex {
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
}

.logo.flex {
  align-items: center;
  line-height: 2rem;
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #444444;
}

nav li {
  padding-left: 1rem;
}

header .mobile .flex {
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  header .mobile {
    display: block;
  }
  nav li {
    padding-left: 0rem;
  }
  header ul {
    height: 4rem;
  }
  .header .desktop {
    display: none;
  }

}
/* Banner */
.banner .picture {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

.picture img {
  max-width: 100%;
}

.everyday {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #0A4A69;
  font-weight: bold;
  max-width: 30%;
  margin-left: 1.5rem;
}

.everyday h1, .everyday h3 {
  padding-bottom: 1.5rem;
}

.everyday p {
  color: #E8E8E8;
  background-color: #0A4A69;
  padding: .5rem;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .banner.flex {
    display: block;
  }

  .everyday {
    max-width: 100%;
    padding: 2rem 1rem;
  }

  .banner .picture {
    max-width: 100%;
    padding: 0rem;
  }

  .everyday {
    margin-left: 0px;
  }
}

/* Information */
.information .left {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

.left img {
  max-width: 100%;
}

.left h1 {
  padding: 2rem 0rem;
}

.information .right {
  border-left: 1px solid lightgray;
}

.block.flex {
  align-items: center;
}

.block.flex:first-of-type {
  padding-top: 1rem;
  border-bottom: 1px solid gray;
  border-style: double;
}

.side-pic {
  max-width: 35%
}

.side-pic img {
  max-width: 100%;
  padding: 1rem;
}

.specifics {
  padding-left: 2rem;
}

.specifics h3, .specifics p {
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 700px) {
  .information .left {
    display: none;
  }

  .side-pic .desktop {
    display: none;
  }

  .side-pic .mobile {
    display: block;
  }

  .block.flex {
    display: block;
  }

  .side-pic {
    max-width: 100%;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .information .right {
    border-left: 0px;
    padding: 1rem;
  }

  .specifics {
    padding: 1rem 1rem;
  }

  .side-pic img {
    max-width: 100%;
    padding: 0rem;
  }

  .block.flex:first-of-type {
    padding-top: 0rem;
  }

  .block.back-gray {
    background-color: #E8E8E8;
  }

}
/* Courses */
.courses h2 {
  text-align: center;
  padding-top: 2rem;
}

.curriculum.flex {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 4.5rem;
}

#course {
  padding-bottom: 2rem;
  max-width: 31%;
}

#course img {
  max-height: auto;
  max-width: 100%;
}

#course .class {
  background-color: #E8E8E8;
  margin-top: -3px;

}

.class {
  padding: 0rem 1.5rem 1.5rem 1rem;
}

.class h3 {
  padding-top: 1rem;
}

.class p {
  padding-top: .5rem;
  line-height: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .courses .curriculum {
    display: none;
  }

  .courses.back-gray {
    background-color: #E8E8E8;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
  }

  .mobile.curriculum {
    display: block;
    padding: 1rem;
  }

  .mobile.curriculum li {
    background-color: lightgray;
    margin-bottom: 0.5rem;
    padding: 1rem;
  }

}

/* Thesis */
.thesis h2 {
  padding: 2rem 0rem;
  text-align: center;
}

.thesis .left {
  max-width: 60%;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
}

.left video {
  max-width: 100%;
  padding-bottom: 1.5rem;
}

.thesis .left p {
  padding-top: 1rem;
  line-height: 1.2rem;
}

.exhibits {
  max-width: 40%;
  padding-right: 0.5rem;
}

.exhibits .right-pic {
  max-width: 35%;
}

.exhibits img {
  max-width: 100%;
  padding: 1rem;
}

.exhibit.flex {
  align-items: center;
}

@media only screen and (max-width: 701px) {
  .exhibits {
    display: none;
  }

  .thesis .left {
    max-width: 100%;
    padding: 0rem;
    margin-bottom: 1.5rem;
  }

  .thesis .left h3, .thesis .left p {
    display: none;
  }
}


/* Footer */
footer {
  border-top: 1px solid lightgray;
  height: 3rem;
}

.footer.flex {
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.terms span {
  padding-left: 0.5rem;
}

@media only screen and (max-width: 480px) {
  .terms {
    display: none;
  }

  footer {
    height: auto;
  }
}
