/*Universal Styles*/

html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  background-color: white;
}

.flex {
  display: flex;
}

.mobile {
  display: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.back-gray {
  background-color: lightgray;
}
/*Header*/

header {
  height: 4rem;
}

header img {
  height: 2.5rem;
}

.header.flex {
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
}

.logo.flex {
  align-items: center;
  line-height: 2rem;
  font-size: 1.5rem;
}

.bold {
  font-style: bold;
}

.gray {
  color: gray;
  opacity: .9;
}

nav li {
  padding-left: 1rem;
}

/* Banner */
.banner .picture {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

.picture img {
  max-width: 100%;
}

.everyday {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: navy;
  font-style: bold;
  max-width: 30%;
  margin-left: 1.5rem;
}

.everyday h1, .everyday h3 {
  padding-bottom: 1.5rem;
}

.everyday p {
  color: white;
  background-color: navy;
  padding: .5rem;
  text-align: center;
}

/* Information */
.information .left {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

.left img {
  max-width: 100%;
}

.left h1 {
  padding: 2rem 0rem;
}

.information .right {
  border-left: 1px solid lightgray;
}

.block.flex {
  align-items: center;
}

.block.flex:first-of-type {
  padding-top: 1rem;
  border-bottom: 1px solid lightgray;
}

.side-pic {
  max-width: 35%
}

.desktop {
  max-width: 100%;
  padding: 1rem;
}

.specifics {
  padding-left: 2rem;
}

.specifics h3, .specifics p {
  padding-bottom: 0.5rem;
}
